body{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/bg-slides-3.png);
    background-size: cover;
    overflow: hidden;
}
.topright{
    background-color: rgba(222, 222, 222, 0.4);
    display: flex;
    width: 500px;
    border-radius: 25px;
    height: 40px;
    margin-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    left: 57%;
}
.topright p{
    /* width: 100%; */
    margin-left: 15px;
    color: white;
    font-family: 'calibri';
    text-align: center;
}
.logo{
    width: 180px;
    position: absolute;
    top: 10px;
    left: 50px;
}
.openacct{
    background-color: rgba(222, 222, 222, 0.4);
    width: 18%;
    height: 50px;
    /* position: absolute;
    top: 90%;
    left: 50px; */
    border-radius: 10px;
}
.openimg{
    width: 35px;
    /* vertical-align: middle; */
    padding-right: 10px;
}
.logoandtext{
    display: flex;
    align-items: center;
    margin: 8px 0 0 20px;
    color: white;
}
.personal{
    background-color: rgba(222, 222, 222, 0.4);
    width: 18%;
    height: 50px;
    /* position: absolute;
    top: 90%;
    left: 22%; */
    border-radius: 10px;
}
.corporate{
    background-color: rgba(222, 222, 222, 0.4);
    width: 18%;
    height: 50px;
    /* position: absolute;
    top: 90%;
    left: 40%; */
    border-radius: 10px;
}
.specialized{
    background-color: rgba(222, 222, 222, 0.4);
    width: 18%;
    height: 50px;
    /* position: absolute;
    top: 90%;
    left: 60%; */
    border-radius: 10px;
}
.private{
    background-color: rgba(222, 222, 222, 0.4);
    width: 18%;
    height: 50px;
    /* position: absolute;
    top: 90%;
    left: 80%; */
    border-radius: 10px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 43% auto;
    font-family: 'calibri';
    margin-bottom: 20px;
    
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.exciting{
    font-size: 40px;
    font-family: 'calibri';
}
.middle p{
    font-family: 'calibri';
    font-weight: lighter;
}
.explore{
    background-color: rgba(222, 222, 222, 0);
    width: 100px;
    height: 35px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: white;
}
